*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 400px;
    width: 600px;
    border: 2px solid green;
}

.container > .box{
    height: 70px;
    width: 80px;
    border: 2px solid red;
}


.container > #box1{
    display: inline-block;
}
.container > #box2{
    display: inline-block;
}
.container > #box3{
    display: inline-block;
}
.container > #box4{
    display: inline;
}


.container > button{
    display: block;
}


.container > p{
    display: none;
}



.card{
    width: 300px;
    border: 3px solid black;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: black;
}

.card > button{
    display: block;
    width:100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
    border: none;
}


.card > button:hover{
    background-color: orangered;
    color:white;
}


.profileCard{
    width: 400px;
    /* border: 3px solid black; */
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px 30px;
    background-color: orangered;
    border-radius: 20px;

    box-shadow: 0 4px 5px black;
}

.profileCard > img{
    height: 100px;
}

.profileCard > h1{
    text-transform: uppercase;
    color:white;
    letter-spacing: 1.2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profileCard > #address{
    font-size: 25px;
    font-weight: bold;
    color:white;
    margin-bottom: 7px;
}

.profileCard >p:nth-child(4)
{
    font-size: 19px;
    font-style: italic;
    color: white;
    margin-bottom: 10px;
}

.profileCard > button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.profileCard > button:hover{
    background-color: gray;
    color:white;
}